body {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
}

.navbar-item {
	font-size: 25px;
	border-right: 2px solid #eee;
}

.show {
	display: block;
}

.hide {
	display: none;
}

nav {
	margin-bottom: 20px; 
}

.searchbar {
	margin-bottom: 10px;
}

.headline {
	color: #2cb0ff;
}

.lgd-color {
	color: #2cb0ff;
}

.engineSearchIcon {
	font-size: 15px;
	vertical-align: baseline;
	color: #dedede;
	cursor: pointer;
}

.modal-content {
	width: 80%;
}

.patreon {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 180px;
	
	border-bottom: solid 0px black; 
	
	transition: all 0,5s;
}
.patreon:hover {
	top: 18px;
	border-bottom: solid 2px black; 
}

td {
	vertical-align: middle !important;
}

th {
	cursor: pointer;
}

a {
	color: #2cb0ff !important;
}

.screenshot {
	height: 100px;
}

html {
	max-width: 1000px;
	margin: auto;
}

table img {
	cursor: pointer;
}
